footer {
  display: flex;
  flex-direction: row;
  background-color: #222222;
  padding: 5rem 0rem;
  font-family: inherit;
  color: var(--white-color);
  justify-content: center;
}
.footer__logo {
  height: 5rem;
  cursor: pointer;
}
.footer__column {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
}
.footer__column > h1,
h2 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer__column--left {
  align-items: center;
  justify-content: start;
}
.footer__column > p {
  line-height: 2em;
}
