*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  padding: 0;
  color: inherit;
  list-style: none;
  transition: 200ms color;
  font-family: inherit;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
:root {
  --black-color: #222222;
  --white-color: #fffdfa;
  --max-width: 1200px;
  --main-width: 90%;
  --navbar-padding: 2rem;
  --blue-color: rgb(81, 165, 219);
  --green-color: rgb(105, 194, 146);
  --shadow-specs: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --shadow-specs-blue: rgb(43, 172, 226, 0.15) 1.95px 1.95px 2.6px;
  --light-borders: 1px solid rgba(131, 131, 131, 0.605);
  --back--gradient: (rgb(81, 165, 219), rgb(105, 194, 146));
  --blue-one: rgb(81, 165, 219);
  --blue-two: rgb(43, 172, 226);
  --green-one: rgb(105, 194, 146);
  --green-two: rgb(145, 190, 73);
}
body,
html {
  color: var(--black-color);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--white-color);
  /*background: linear-gradient(45deg, var(--blue-color), 1%, var(--white-color));*/
}
main {
  max-width: var(--max-width);
  width: var(--main-width);
  margin: 1rem auto;
  border: 1px solid lightgray;
  border-radius: 1rem;
  overflow: hidden;
  background: linear-gradient(
    -45deg,
    var(--blue-color),
    1%,
    var(--white-color)
  );
}
main > section:last-child {
  border-bottom: none;
}
.default__section {
  width: 100%;
  padding: 10rem 5rem;
  border-bottom: 1px solid lightgray;
}

.disable__scrolling {
  height: 100%;
  overflow: hidden;
}
.visible {
  display: block;
}
.not__visible {
  display: none;
}
.whiteBackGround {
  background: none;
  background-color: var(--white-color);
}
@media only screen and (min-width: 0px) and (max-width: 750px) {
  .default__section {
    padding: 8rem 2rem;
  }
}

@media only screen and (min-width: 751px) {
  .visible {
    display: none;
  }
}
