.navbar {
  max-width: var(--max-width);
  width: var(--main-width);
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--navbar-padding);
  position: relative;
}
.navbar__list {
  list-style: none;
  display: flex;
}
/* elements like logo and contact etc. */
.navbar__element {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1.75em;
}
.navbar__element:hover {
  color: var(--blue-two);
}
.navbar__element--gradient {
  background: linear-gradient(var(--blue-two), var(--green-two));
  box-shadow: var(--shadow-specs);
  color: var(--white-color);
  border-radius: 1rem;
  margin-left: 1em;
}
.navbar__element--gradient:hover {
  color: var(--white-color);
}
.navbar__logo > a > img {
  height: 6rem;
}
/* language switch in horizontal nav */
.navbar__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25em 0;
  margin-left: 1rem;
  width: 4rem;
  cursor: default;
  position: relative;
}
.navbar__switch > span {
  margin-left: 0.4em;
  font-size: 1.1rem;
  opacity: 0.8;
  transform: rotate(90deg);
  transition: 200ms transform;
}
.navbar__switch__dropdown {
  position: absolute;
  display: none;
  padding: 1.5em 0em;
  text-align: center;
  z-index: 10;
  width: 4rem;
  opacity: 0.9;
  background-color: var(--white-color);
  border: 1px solid gray;
  border-radius: 0.75rem;
  box-shadow: var(--shadow-specs);
  bottom: -100%;
  cursor: pointer;
}
.navbar__switch:hover .navbar__switch__dropdown {
  display: block;
}
.navbar__switch:hover > span {
  transform: rotate(-90deg);
}
.navbar__switch__dropdown:hover {
  color: var(--blue-two);
}
/*navbar dropdown styles*/

.navbar__dropdown {
  position: fixed;
  width: 100%;
  height: calc(100vh - 132px);
  top: 132px;
  background-color: var(--white-color);
  display: none;
  z-index: 1000;
}
.navbar__dropdown > ul {
  width: var(--main-width);
  background-color: var(--white-color);
  border-radius: 2rem;
  margin: 0 auto;
  padding: 2em 2em;
  font-size: 1.75rem;
  display: grid;
  gap: 1.5em;
}
.navbar__dropdown__element {
  font-style: italic;
  color: var(--black-color);
  cursor: pointer;
}
.navbar__dropdown__element:hover {
  color: var(--blue-two);
}
.navbar__dropdown__language {
  display: flex;
  justify-content: end;
}
.navbar__dropdown__language > button {
  padding: 1em 1.25em;
  cursor: pointer;
  color: var(--black-color);
  font-size: 1.25rem;
}
.navbar__dropdown__language > button:last-child {
  border-left: 1px solid var(--black-color);
}
.navbar__dropdown__language > button:hover {
  color: var(--blue-two);
}
.navbar__dropdown__title {
  text-align: center;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  border-radius: 1rem 1rem 0rem 0rem;
  background-color: var(--black-color);
  color: var(--white-color);
  box-shadow: var(--shadow-specs);
  position: relative;
  cursor: default;
}
.navbar__dropdown__title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0rem 0rem 1rem 1rem;
  height: 0.5rem;
  background: linear-gradient(90deg, var(--blue-two), var(--green-two));
  box-shadow: var(--shadow-specs);
  width: 100%;
}
.visible {
  display: block;
}

@media only screen and (min-width: 0px) and (max-width: 750px) {
  .navbar__list {
    display: none;
  }
  .navbar__bars {
    display: block;
  }
}
@media only screen and (min-width: 751px) {
  .visible {
    display: none;
  }
}
