.default__section__one {
  position: relative;
}
.default__section__one h1 {
  font-style: italic;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.default__section__one h1 > span:first-child {
  color: var(--blue-color);
}
.default__section__one h1 > span:last-child {
  color: var(--green-color);
}
.default__section__one p {
  line-height: 1.75rem;
  max-width: 80%;
}
.trust__token {
  position: absolute;
  bottom: 0;
  right: 10%;
  border: 1px solid gray;
  opacity: 0.9;
  border-radius: 1rem;
  box-shadow: var(--shadow-specs);
  padding: 1.5rem;
  z-index: 100;
}
.trust__token > img {
  width: 2rem;
  height: 2rem;
}
@media only screen and (min-width: 0px) and (max-width: 750px) {
}
