.deafult__section__offer {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.product__card {
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  box-shadow: var(--shadow-specs);
}

.product__card > img {
  background-color: var(--white-color);
  width: 100%;
}
.product__card > h1 {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 2.5rem;
  padding: 0 0.5rem;
}
.product__card > p {
  padding: 0 0.5rem;
}

@media only screen and (min-width: 0px) and (max-width: 750px) {
  .deafult__section__offer {
    padding: 10rem 5rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 751px) and (max-width: 1250px) {
  .deafult__section__offer {
    grid-template-columns: repeat(2, 1fr);
  }
}
