.medicals {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: auto;
}
.medicals:hover .medicals__token {
  opacity: 1;
  transform: translateX(0);
}
.medicals__token {
  opacity: 0.9;
  padding: 1.5rem;
  border: 1px solid gray;
  border-radius: 1rem;
  box-shadow: var(--shadow-specs);
  opacity: 0;
  transform: translateX(-100%);
  transition: 400ms opacity, 400ms transform ease-in-out;
}
.medicals__token:nth-child(2) {
  transition-delay: 200ms;
}
.medicals__token:nth-child(3) {
  transition-delay: 400ms;
}
.medicals__token:nth-child(4) {
  transition-delay: 600ms;
}
.medicals__token > img {
  width: 2.5rem;
  height: 2.5rem;
}
